<div class="container">
    <h1>Price History for {{name}}</h1>

    <dl class="dl-horizontal col-md-4">
      <dt>Company Name</dt> <dd>{{name}}</dd>
      <dt>Industry</dt> <dd>{{industry}}</dd>
      <dt>Market Cap</dt> <dd>{{marketCap}}</dd>
      <dt>IPO Year</dt> <dd>{{ipoYear}}</dd>
      <dt>Sector</dt> <dd>{{sector}}</dd>
    </dl>

    <div class="col-md-8">
      <div class='jumbotron'>
        <h1>Placeholder for graph!</h1>
        <p>Ho hum...</p>
      </div>
    </div>

<div>